
@{
    ViewBag.Title = "Grades";
}

<h2>Grades</h2>

<div class="container" ng-controller="subjectController" ng-cloak>
    @* SUCCESS AND ERROR MESSAGES *@
    <div class="alert alert-success alert-dismissible" ng-show="success">
        <strong>Success!</strong> {{successMessage}}
        <a href="#" class="btn-close" data-dismiss="alert"></a>
    </div>
    <div class="alert alert-danger alert-dismissible" ng-show="error">
        <strong>Error!</strong> {{errorMessage}}
        <a href="#" class="btn-close" data-dismiss="alert"></a>
    </div>
    @* --------------------------- *@

    <table class="table table-bordered">
        <thead style="background-color: slateblue;">
            <tr>
                <th>Subject</th>
                <th style="width: 300px">Course</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="subj in Subjects">
                <td>{{subj.Name}}</td>
                <td>{{subj.Cours.Name}}</td>

                <td style="width: 300px">
                    <a href="#" class="btn btn-primary" data-target="#addEnrollment"
                       data-toggle="modal" ng-click="clearData(); setSubjectEnrollment(subj)">Enroll Student</a>
                    <a href="#" class="btn btn-success" data-target="#showStudents"
                       data-toggle="modal" ng-click="getSubjectStudents(subj)">View Students</a>
                </td>

            </tr>
        </tbody>
    </table>


    @* BEGIN MODAL - ENROLL STUDENT *@
    <div class="modal" id="addEnrollment" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Enroll Student</h3>
                </div>
                <div class="modal-body" style="margin: auto; width: 50%; ">
                    <form class="form-horizontal" name="addGradeForm">
                        <div class="form-group">
                            <input class="form-control" readonly="readonly" name="Id" type="hidden" placeholder="Id" />
                        </div>



                        <div class="form-group">
                            <label> Subject</label>
                            <input class="form-control" name="courseSelect" id="courseSelect" type="text" readonly ng-model="currentSubject.Name" />
                        </div>
                        <div class="form-group">
                            <label> Student</label>
                            <select class="form-control" name="teacherSelect" id="teacherSelect" ng-model="currentStudent" ng-options="student as student.Name for student in subjectStudents track by student.Id"></select>
                        </div>
                        <div class="form-group">
                            <label> Grade</label>
                            <input class="form-control" type="text" name="nome" ng-model="grade.GradeValue" placeholder="Grade (1-10)" required />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnSalvar" data-dismiss="modal" ng-click="enrollStudent()">Add</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="clearData()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    @* END MODAL - ENROLL STUDENT *@

    @* BEGIN MODAL - VIEW STUDENTS *@
    <div class="modal" id="showStudents" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Student List</h3>
                </div>
                <div class="modal-body" style="margin-left: 20px">
                    <table class="table table-bordered">
                        <thead style="background-color: slateblue;">
                            <tr>
                                <th>Student</th>
                                <th>Grade</th>
                                <th>Course</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="stud in subjectStudents">
                                <td>{{stud.Name}}</td>
                                <td>{{stud.GradeValue}}</td>
                                <td>{{stud.Course.Name}}</td>

                                <td style="width: 30px">
                                    <a href="#" class="btn btn-danger" data-target="#showStudents"
                                       data-toggle="modal" ng-click="unenrollStudent(stud.Id)">Unenroll</a>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    @* END MODAL - VIEW STUDENTS*@

</div>

@section scripts {
    <script src="~/AngularJSApp/College/Modulejs.js"></script>
    <script src="~/AngularJSApp/College/Subject/SubjectController.js"></script>
    <script src="~/AngularJSApp/College/Subject/SubjectService.js"></script>
    <script src="~/AngularJSApp/College/Teacher/TeacherService.js"></script>
    <script src="~/AngularJSApp/College/Course/CourseService.js"></script>
    <script src="~/AngularJSApp/College/Student/StudentService.js"></script>
    <script src="~/AngularJSApp/College/SignalR.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.3.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
}