
@{
    ViewBag.Title = "Students";
}

<h2>Students</h2>

<div class="container" ng-controller="studentController" ng-cloak>
    @* SUCCESS AND ERROR MESSAGES *@
    <div class="alert alert-success alert-dismissible" ng-show="success">
        <strong>Success!</strong> {{successMessage}}
        <a href="#" class="btn-close" data-dismiss="alert"></a>
    </div>
    <div class="alert alert-danger alert-dismissible" ng-show="error">
        <strong>Error!</strong> {{errorMessage}}
        <a href="#" class="btn-close" data-dismiss="alert"></a>
    </div>
    @* --------------------------- *@

    <div class="panel-body">
        <button type="button" class="btn btn-primary" data-target="#addStudent" data-toggle="modal" ng-click="clearData()">
            Add Student
        </button>
    </div>

    <table class="table table-bordered">
        <thead style="background-color: cornflowerblue;">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Birthday</th>
                <th>Registration Number</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="stud in Students">
                <td>{{stud.Id}}</td>
                <td>{{stud.Name}}</td>
                <td>{{stud.Birthday}}</td>
                <td>{{stud.Reg_number}}</td>

                <td style="width: 200px">
                    <a href="#" class="btn btn-primary" data-target="#updateStudent"
                       data-toggle="modal" ng-click="updateScopeStudent(stud.Id)">Update</a>
                    <a href="#" class="btn btn-danger" ng-click="deleteStudent(stud.Id)">Delete</a>
                </td>

            </tr>
        </tbody>
    </table>


    @* BEGIN MODAL - ADD STUDENT *@
    <div class="modal" id="addStudent" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>New Student</h3>
                </div>
                <div class="modal-body" style="margin: auto; width: 50%; ">
                    <form class="form-horizontal" name="addStudentForm">
                        <div class="form-group">
                            <input class="form-control" readonly="readonly" name="Id" type="hidden" placeholder="Id" />
                        </div>

                        <div class="form-group">
                            <label> Name</label>
                            <input class="form-control" type="text" name="nome" ng-model="student.Name" placeholder="Student Name" required />
                        </div>
                        <div class="form-group">
                            <label> Birthday</label>
                            <input class="form-control" type="date" name="Birthday" ng-model="student.Birthday" placeholder="YYYY-MM-DD" required />
                        </div>
                        <div class="form-group">
                            <label> Registration Number</label>
                            <input class="form-control" type="text" name="nome" ng-model="student.Reg_number" placeholder="Registration Number" required />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnSalvar" data-dismiss="modal" ng-click="insertStudent()">Add</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="clearData()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    @* END MODAL - ADD STUDENT *@

    @* BEGIN MODAL - UPDATE STUDENT *@
    <div class="modal" id="updateStudent" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Update Student</h3>
                </div>
                <div class="modal-body" style="margin-left: 20px">
                    <form class="form-horizontal" name="updateStudentForm">
                        <div class="form-group">
                            <input class="form-control" readonly="readonly" name="Id" ng-model="updateStudentId" type="hidden" placeholder="Id" />
                        </div>
                        <div class="form-group">
                            <label> Name</label>
                            <input class="form-control" name="Name" ng-model="student.Name" type="text" placeholder="Name" required />
                        </div>
                        <div class="form-group">
                            <label> Birthday</label>
                            <input class="form-control" name="Birthday" ng-model="student.Birthday" type="date" placeholder="Birthday" required />
                        </div>
                        <div class="form-group">
                            <label> Registration Number</label>
                            <input class="form-control" name="Registration Number" ng-model="student.Reg_number" type="text" placeholder="Registration Number" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnUpdate" data-dismiss="modal" ng-click="updateStudent()">
                        Update
                    </button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    @* END MODAL - UPDATE STUDENT*@

</div>

@section scripts {
    <script src="~/AngularJSApp/College/Modulejs.js"></script>
    <script src="~/AngularJSApp/College/Student/StudentController.js"></script>
    <script src="~/AngularJSApp/College/Student/StudentService.js"></script>
    <script src="~/AngularJSApp/College/SignalR.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.3.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
}